@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 253, 244);
}
.swiper-button-next:after,
.swiper-button-prev:after{
    color: beige;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: beige;
}
html::-webkit-scrollbar{
    display: none;
}
html{
    scrollbar-width: none;
}